# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives: </b>
- Data Science Languages
- Data Science Libraries
- Data Science Tools
- Simple Expressions

Some popular Data Science languages include:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the common libraries used by Data Scientist are: 
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|-----------------|
|Jupyter Notebook |
|MySQL |
|Tableau |

### Here are a few examples of evaluating arithmetic expressions in Python

This simple arithmetic expression shows multiplying and adding itegers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [15]:
200/60

3.3333333333333335

## Author
Jen Geffre